* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3dddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    border: 2px solid;
    border-radius: 8px;
    box-shadow: 2px 2px #4d0026;
    max-width: 400px;
    width: 100%;
    max-height: 900px;
    height: 900px;
    display: flex;
    flex-flow: column;
    align-items: center;
    
    
    
}

.calc {
}